
.photo {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .photo__img,
  .photo__ui {
    max-width: 99vw;
  }
  .photo__img {
    position: relative;
    background: gray;
    line-height: 1px;
    img {
      max-height: 90vh;
      max-width: 90vw;
    }
  }
  .photo__prev {
    background: rgba(0, 0, 0, 0);
    left: 0;
  }
  .photo__next {
    background: rgba(0, 0, 0, 0);
    right: 0;
  }
  .photo__prev,
  .photo__next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    &:hover .photo__link-text {
      background: rgba(255, 255, 255, 1);
    }
  }
  .photo__link-text {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    font-size: 1.5em;
    line-height: 1.7em;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
  }
}
